/*Page Essential styles*/
*{
    padding:0;
    margin:0;
}
body{background-color: #313338 ;}
main { background-color: #313338;
    display: block;
    padding: 0 0 2em 0; 
    margin: 0 20px;
}

/*Page icon styles*/
#indexlogo { 
    height: 336px;
    background-image: url(IndexAssets/rogueLogo.jpg);
    background-repeat: no-repeat;
    background-size: auto auto; 
    margin-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}
#raceicon{
    cursor:pointer;
	height: 300px;
    width: 320px;
	background-image: url(PlayerMechanics/Playerimgs/raceIcon.png);
	background-repeat: no-repeat;
	background-size: 100% 100%; 
}
#worldicon{
    cursor:pointer;
	height: 300px;
    width: 320px;
	background-image: url(IndexAssets/world.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#playericon{
    cursor:pointer;
	height: 300px;
    width: 320px;
	background-image: url(IndexAssets/player.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#gameicon{
    cursor:pointer;
	height: 300px;
    width: 320px;
	background-image: url(IndexAssets/game.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#spellsicon{
    cursor:pointer;
	height: 300px;
    width: 320px;
	background-image: url(PlayerMechanics/Playerimgs/spellsicon.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#classesicon{
    cursor:pointer;
	height: 300px;
    width: 320px;
	background-image: url(PlayerMechanics/Playerimgs/classIcon.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
#livesicon{
    cursor:pointer;
	height: 300px;
    width: 320px;
	background-image: url(GameMechanics/GameMechImgs/lives.png);
	background-repeat: no-repeat;
	background-size: 100% 100%; 
}
#alignmenticon{
    cursor:pointer;
	height: 300px;
    width: 320px;
	background-image: url(GameMechanics/GameMechImgs/alignment.png);
	background-repeat: no-repeat;
	background-size: 100% 100%; 
    background-color: #ffffff;
}
#mapicon{
    cursor:pointer;
	height: 300px;
    width: 320px;
	background-image: url(WorldMechanics/WorldMechanicsAssets/worldmap.jpg);
	background-repeat: no-repeat;
	background-size: 100% 100%; 
}
#statusicon{
    cursor:pointer;
	height: 300px;
    width: 320px;
	background-image: url(GameMechanics/GameMechImgs/status.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
    background-color: #ffffff;
 
}
#index-content img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 350px;
    width: 800px;
}
#home-img{
    background-color: #000000;
}
#playericon:hover{opacity: 20%;}
#worldicon:hover{opacity: 20%;}
#gameicon:hover{opacity: 20%;}
#raceicon:hover{opacity: 20%;}
#classesicon:hover{opacity: 20%;}
#spellsicon:hover{opacity: 20%;}
#mapicon:hover{opacity: 20%;}
#alignmenticon:hover{opacity: 20%;}
#livesicon:hover{opacity: 20%;}
#statusicon:hover{opacity: 20%;}









/*h Styles*/
h1{
    color: #ffffff;
    max-width: 40%;
    font-weight: 50;
    margin: 10px auto;
    border-bottom: 5px solid #000000;
    text-align: center;

}
h2{
    margin: 20px 80px;
    text-decoration: underline; 
}




/*Header&Footer styles*/
footer { background-color: #ffffff;
    font-size: .60em;
    font-style: italic;
    text-align: center;
    padding-bottom: 1em;
    border-top: 2px solid #000000;
    margin: 0 20px;
}
header{
    text-align: center;
    font-size: 60px;
    background-color: rgb(0, 0, 0);
    color: #ffffff;
}




/*Table styles*/
table{
    font-size: 25px;
    margin: auto;
    align-items: center;
    width:80%;
}
table th, td{
    text-align:center;
    border:3px solid rgb(0, 0, 0);
    padding:5px
}
table th{
    background-color: #1fd73e;
}
table img{
    max-width: 150px;
    max-height: 150px;
}
table li{
    margin-left: 20px;
    text-align: left;
    padding-bottom: 8px;
}




/*Collapsable content styles*/
.collapsable{
    overflow: hidden;
    margin: 10px 3em;
}
.collapsable label{
    position: relative;
    font-weight: 600;
    background: #000000;
    box-shadow: 0 5px 11px 0 rgba(0,0,0, .1), 0 4px 11px 0 rgba(0,0,0, .08);
    color:rgb(255, 255, 255);
    display: block;
    margin-bottom: 10px;
    cursor: pointer;
    padding: 15px 0;
    border-radius: 4px;
}
.collapsable :after{
    content: "";
    position: absolute;
    right:15px;
    top:20px;
    width: 18px;
    height: 18px;
    background: url(arrow.svg) no-repeat 0 0 ;
}
.collapsable-content{
    max-height: 1px;
    overflow: hidden;
}
.collapsable input{
    display:none;
}
.collapsable input:checked ~ .collapsable-content{
    max-height: 2000px;
    padding-bottom: 25px;
    opacity: 1;
    top: 0;
}




/*Navigation bar styles*/
.navlogo{
    font-size: 30px;
}
nav a { text-decoration: none; }
nav a:link       { color: #ffffff; }
nav a:visited { color: #ffffff; }
nav a:hover     { color: #488168; }
nav{
    background-color: black;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 35px;
}
nav ul{
    list-style: none;
    display: flex;
    
}
nav ul li{
    padding: 10px 30px;
    font-size: 20px;
    
}
nav ul li ul.dropdown{
    display: none;
    background: rgb(0, 0, 0);
    position: absolute;
    padding-top: 25px;
    min-width: 150px;
}
nav ul li ul li{
    border-style: groove;
    border-color: #ffffff2b;
}
nav ul li:hover ul.dropdown{
    display: block;
    
}




/*Index page content styles*/
#index-content{
    font-size: 30px;
    background-color: #000000;
    color: #ffffff;
}
#index-content p{
    margin: 40px 40px;
}




/*Website Img link wrapper classes*/
.link-wrapper{
    display: flex;
    padding-top: 100px;
    padding-bottom: 20px;
    justify-content:space-around;
    background-color: rgb(0, 0, 0);
}
.img-container{
    max-width: 320px;
    max-height:550px;
    text-align: center;
    word-wrap: break-word;
    font-size: 25px;
    color: #ffffff;
    padding-bottom: 40px;
}
.container-title{
    font-size: 40px;
    text-align: center;
    background-color: rgb(11, 27, 17);
}




/*Link styles*/
a{
    text-decoration: none; 
}
#gamelink a:link { color: #1fd73e; }
#gamelink a:visited { color: #1fd73e; }
#gamelink a:hover { color: #146722; }




/*Website Category link hub text styles*/
.link-hub{
    font-size: 40px;
    text-align: center;
    background-color: #000000;
}
.link-hub p{
    padding-top: 1em;
    padding-bottom: 2em;
    margin-left: 20px;
    margin-right: 20px;
    color:#ffffff; 
}
.title-header{
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}




/*Web page content wrapper styles*/
.content-wrapper{
    background-color: #488168;
    width:70%;
    height: auto;
    align-items: center;
    margin: 0 auto;
    margin-top: 2em;
    padding-bottom: 2em;
}
.content-wrapper header{
    background-color: #000000;
    font-size: 40px;
    color: #ffffff;
}
.content-wrapper p{
    font-size: 20px;
    margin: 50px 100px;
    align-items: center;
}
.bullet-point-title{
    font-size: 20px;
    margin: 0px 100px;
    margin-bottom: 10px;
    text-decoration: underline;
}
.content-wrapper li{
    font-size: 17px;
}
.display-img img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: #000000;
    width: 25%;
    border-style: solid;
}
li.content {
    margin-left: 150px;
    font-size: 17px;

}
.display-img p{
    font-size: 12px;
    text-align: center;
    margin-top: 1px;
    color: #ffffff;
}
/*class wraper styles*/
.class-container{
    background-color: #313338;
    margin: 10px 10em;
    text-align: center;
    border-width:6px;
    border-style:solid;
    border-color:black;
    align-items: center;
}





/*Img Slider Galary*/
.slider-holder{
    background-color: #000000;
    padding-top: 40px;
}
.slider {
    position: relative;
    width: 60%;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
.images {
    display: flex;
    width: 100%;
}
.images img {
    height: 500px;
    width: 100%;
    transition: all 0.15s ease;
}
.images input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 3px;
    cursor: pointer;
    transition: all 0.15s ease;
    margin: 5px;
}
.dots label:hover {background: #fff;}
#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
}





/*Lose styles*/
#alignment img{
    width: 80%;
    border-style: solid;
    margin-bottom: 20px;
}

form{
	display: flex;
	flex-direction: column;
	padding-left: 1em;
	width: 60%;	
    margin-left: auto;
    margin-right: auto;
}

#contact .content-wrapper{
    height: 500px;
}